/* General Container */
.holder {
    display: flex;
    gap: 120px;
    margin-bottom: 40px;
}

/* Boxes */
.box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}

/* Colors */
.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

/* Order Classes */
.order-1 {
    order: 1;
}

.order-2 {
    order: 2; 
}

.order-3 {
    order: 3;
}

/* Wrap Example */
.holder1 {
    display: flex;
    flex-wrap: wrap;
    width: 650px;   /* Adjust to see wrapping */
    gap: 5px;
}







